{% extends 'base.html' %}
{% load static %}

{% block title %}Настройки аккаунта{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/accounts/account_settings.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4 fade-in">
    <div id="message-container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} custom-alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>


    <h2 class="fw-bold mb-3"><i class="bi bi-gear me-2"></i>Настройки аккаунта</h2>

    <div class="card p-4 mb-4">
        <form method="POST" class="mt-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary mt-2">Сохранить изменения</button>
        </form>

    </div>

</div>
{% endblock %}
